$card-width: 600px;
$card-height: 400px;
@media screen and (max-width: 1024px) {
  flashcard {
    width: $card-width / 3 * 2;
    height: 14 * 20px;
    > div.flashcard {
      .back,
      .front {
        padding: 43px;
        background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 20px;
        background-size: 100% 20px;
      }
    }
  }
  .card-text {
    font-size: $font-size--md;
    font-weight: normal;
    line-height: $half-space;
  }

  .infoContainer {
    height: 500px;
  }
}
@media screen and (min-width: 1025px) {
  flashcard {
    width: $card-width;
    height: 14 * 30px;
    // padding: 30px;
    > div.flashcard {
      .back,
      .front {
        padding: 66px;
        background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 30px;
        background-size: 100% 30px;
      }
    }
  }
  .card-text {
    font-size: $font-size--lg;
    font-weight: normal;
    line-height: $half-space * 3 / 2;
  }

  .infoContainer {
    height: 700px;
  }
}

.card-number {
  color: #888;
  font-style: italic;
  position: absolute;
  bottom: 20px;
  width:50px;
  left:0;
  right:0;
  margin: 0 auto;
}

.card-mark {
  position: absolute;
  top: 15px;
  right: 15px;
}
.card-mark-1 {
  color: #ff6666;
}
.card-mark-2 {
  color: #ffff80;
}
.card-mark-3 {
  color: #5cd65c;
}
.card-text ul {
  margin: 0;
}
.tile {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
flashcard {
  font-family: Trocchi, serif;
  margin-right: 15px;
  display: block;
  perspective: 1000px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  > div.flashcard {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    .back,
    .front {
      float: left;
      display: block;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      transform-style: preserve-3d;
      transition: transform ease 1000ms;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      // background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 20px;
      // background-size: 100% 20px;
    }
    .front {
      z-index: 2;
      text-align: center;
      /* front tile styles go here! */
    }
    .back {
      /* back tile styles go here! */
      z-index: 1;
    }
  }
}
// .front::after {
//   content: '';
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   box-shadow: 0 30px 50px rgba(0,0,0,0.3);
//   transform-origin: 100% 100%;
//   transform: rotateX(90deg) translateY(0px);
//   transition: box-shadow 350ms;
// }
//
// .back::after {
//   content: '';
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   box-shadow: 0 30px 50px rgba(0,0,0,0.3);
//   transform-origin: 100% 100%;
//   transform: rotateX(90deg) translateY(0px);
//   transition: box-shadow 350ms;
// }
.card-text {
  margin: 0;
}
flashcard[horizontal] {
  .front {
    transform: rotateY(0deg);
  }
  .back {
    transform: rotateY(-180deg);
  }
  div.flashcard.flipped {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(0deg);
    }
  }
}
flashcard[vertical] {
  .front {
    transform: rotateX(0deg);
  }
  .back {
    transform: rotateX(-180deg);
  }
  div.flipper.flipped {
    .front {
      transform: rotateX(180deg);
    }
    .back {
      transform: rotateX(0deg);
    }
  }
}
.infoContainer {
  text-align: center;
  width: 400px;
  position: absolute;
  // top: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1000;
}
.resultContainer {
  text-align: center;
  height: 400px;
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1000;
}
.infoBar {
  opacity: 0.6;
  height: 60px;
  width: 300px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -1000;
}
.buttonBar {
  height: 60px;
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -1000;
}
.buttonBar a {
  opacity: 0.4;
  color: green;
  text-decoration: none;
}
.buttonBar a:hover {
  opacity: 0.5;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardAnimation {
  /* start 'enter' transition */
  &.ng-enter {
    animation: 1.5s zoomIn;
  }
  /* end 'enter' transition */
  &.ng-leave {
    animation: 1.5s fadeOutDownBig;
  }
  &.ng-move {
    animation: 1.5s pulse;
  }
}
.deckContainer {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
