<flashcard class="cardAnimation" ng-repeat="card in studyCtrl.cards" ng-if="$index == 0" flipped="studyCtrl.cardFlipped" on-card-clicked="studyCtrl.flipCard()" horizontal>
  <front>
    <span class="card-text">{{ card.question }}</span>
    <span class="card-number">{{ studyCtrl.cards.length }}</span>
  </front>
  <back>
    <span class="card-text" ng-bind-html="card.answer | nice"></span>
  </back>
</flashcard>

<div ng-show="studyCtrl.cards.length>0" class="infoContainer">
  <!-- <div class="infoBar">{{ studyCtrl.cards.length}}</div> -->
  <div class="buttonBar">
    <a href="" ng-click="studyCtrl.answer(false)">
      <fa-stack size="large">
        <fa name="circle" stack="2"></fa>
        <fa name="times" inverse stack="1"></fa>
      </fa-stack>
    </a>
    <a href="" ng-click="studyCtrl.answer(true)">
      <fa-stack size="large">
        <fa name="circle" stack="2"></fa>
        <fa name="check" inverse stack="1"></fa>
      </fa-stack>
    </a>
  </div>
</div>

<div class="resultContainer" ng-show="studyCtrl.cards.length==0">
  <h1>Super gelernt liebe Biene!</h1>
  <h2>Du hast <strong class="animated infinite bounce">{{ ((studyCtrl.session.knownCards.length / (studyCtrl.session.unknownCards.length + studyCtrl.session.knownCards.length))*100) | number : 2 }}%</strong> von deinen Karten gewusst. Wie möchtest du weiterlernen?</h2>
  <h3><a ui-sref="Decks">zurück</a></h3>
</div>
