<flashcard class="cardAnimation" ng-repeat="card in studyCtrl.cards" ng-if="$index == 0" flipped="studyCtrl.cardFlipped" on-card-clicked="studyCtrl.flipCard()" horizontal>
  <front>
    <h2>{{ card.question }}</h2>
  </front>
  <back>
    <h2 ng-bind-html="card.answer | nice"></h2>
  </back>
</flashcard>

<div ng-show="studyCtrl.cards.length>0" class="infoContainer">
  <div class="infoBar">{{ studyCtrl.cards.length}}</div>
  <div class="buttonBar">
    <a href="" ng-click="studyCtrl.answer(false)">
      <fa-stack size="large">
        <fa name="circle" stack="2"></fa>
        <fa name="times" inverse stack="1"></fa>
      </fa-stack>
    </a>
    <a href="" ng-click="studyCtrl.answer(true)">
      <fa-stack size="large">
        <fa name="circle" stack="2"></fa>
        <fa name="check" inverse stack="1"></fa>
      </fa-stack>
    </a>
  </div>
</div>

<div class="resultContainer" ng-show="studyCtrl.cards.length==0">
  <h1>Super gelernt liebe Biene!</h1>
  <h2>Du hast <strong class="animated infinite bounce">{{ ((studyCtrl.statistic.knownCards.length / studyCtrl.statistic.allCards.length)*100) | number : 2 }}%</strong> von deinen Karten gewusst. Wie möchtest du weiterlernen?</h2>
  <ol>
    <li>
      <a href="" ng-click="studyCtrl.restartWithCards(studyCtrl.statistic.allCards)">Mit allen Karten?</a>
    </li>
    <li ng-show="studyCtrl.statistic.knownCards.length>0">
      <a href="" ng-click="studyCtrl.restartWithCards(studyCtrl.statistic.knownCards)">Mit den richtigen Karten?</a>
    </li>
    <li ng-show="studyCtrl.statistic.unknownCards.length>0">
      <a href="" ng-click="studyCtrl.restartWithCards(studyCtrl.statistic.unknownCards)">Mit den falschen Karten?</a>
    </li>
  </ol>
</div>
